<!-- header-section start -->
<%- include('../partials/_header', {title: 'Welcome'})%>
<!-- header-section end -->
<body>
    <div class="card card-primary m-3">
        <div class="card-header">
            <h3 class="card-title">Welcome</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" action="/registerPrincipal">
        <div class="card-body">
            
            <% if (messages.adminRegister) {%>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    <%= messages.adminRegister %>
                </div>
            <% } else { %>
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    Principal account is the admin account. Be carefull and keep the password confidential.
                </div>
            <% } %>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"required>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address">
                </div>
            </div>
            <div class="form-group row">
                <label for="mobilenumber" class="col-sm-2 col-form-label">Mobile Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mobilenumber" name="mobile_number" placeholder="Mobile Number">
                </div>
            </div>
            <div class="form-group row">
                <label for="nic" class="col-sm-2 col-form-label">NIC</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nic" name="nic" placeholder="Enter NIC" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="cPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="Confirm Password" required>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    <!-- /.card -->
</body>

<%- include('../partials/_footer')%>