<!-- header-section start -->
<%- include('./partials/_top', {title:"Dashboard", current_menu : {parent: 'Dashboard', child: false} }) %>
<!-- header-section end -->

<div class="card card-primary m-3">
    <div class="card-header">
      <h3 class="card-title">Dashboard</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" style="height: 50vh">
      Welcome
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<%- include('./partials/_bottom') %>