
<!-- asdasdasd -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap" rel="stylesheet">
        
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" 
    href="/bootstrap/css/bootstrap.min.css" >
    <link rel ="stylesheet"
    href="fontawesome-free-5.13.0-web/css/all.css">
<link rel= "stylesheet" href="/Css/stylesheet.css">

    <title></title>
  </head>
 <body>
    <header>
      <div  class ="pt-xl-1" id = "topheader">
        <div class="container">
          <div class = "row">
            <div class = "col-12 text-right">
              <a  class ="p-1" href ="tel:0778075378" ><i class ="fas fa-phone p-2"   >
              </i>0778075378
              
                     </a>
              <a  class = "p-1"  href="mailto:rpkariyawasam@gmail.com "><i class = "fas fa-envelope p-2">

              </i>rpkariyawasam@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <div id ="bottomheader">
        <div class="container-fluid ">
          <nav class =" navbar navbar-dark  navbar-expand-lg" style="background-color: #2b3e50;">
            
            <button  data-toggle="collapse" data-target="#navbarToggler" type="button"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse   navbar-collapse" id="navbarToggler" >
            <ul class ="navbar-nav d-flex justify-content-center container-fluid ">
              <li class="nav-item active">
                <a  class ="nav-link" href="Untitled-2.html">මුල් පිටුව</a>
              </li>
              <li class="nav-item">
                <a  class ="nav-link" href="/dashboard">ඇතුල් වන්න</a>
              </li>
              <li class="nav-item dropdown">
                <a  class ="nav-link dropdown-toggle" data-toggle="dropdown"   role="button" href="#"> වෙනත් තොරතුරු</a>
                <div class="dropdown-menu" id="service-toggle">
                  <a  class ="dropdown-item"  href="webDevelopment.html" >තොරතුරු සංස්කරණය කරන්න</a>
                  <a  class ="dropdown-item"  href="#" >ඉවත් වන්න</a>
                  <a  class ="dropdown-item"  href="#" >වාර්තාව </a>
                 
                </div>
              </li>
              
              <li class="nav-item">
                <a  class ="nav-link" href="/teacher/all"  >ගුරුවරු</a>
              </li>
              <li class="nav-item">
                <a  class ="nav-link" href="#">දෙමාපියන්</a>
              </li>
              <li class="nav-item">
                <a  class ="nav-link"  data-bs-toggle="modal" data-bs-target="#exampleModalToggle" href="#">පන්ති</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">දැනුම්දීම්</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">කාලසටහන්</a>
              </li>
            </ul>
          </div> 
          </nav>
        </div>
      </div>
    </header>
    <section>
      <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/2.jpg" class="d-block w-100" alt="...">
            </div>
          
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <section class="top-hero-section pt-4 pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            
            <h1>ශීර්ෂය </h1>
            <h5>ලෝරීම් ඉප්සම් යනු සරලව මුද්‍රණ හා අකුරු ඇමිනුම් කර්මාන්තයේ උදාහරණ අකුරු පෙළ වෙයි. එය ශතවර්ශ පහක් පමණ නොවී පැමිණ ඉලෙක්ට්‍රොනික යුගයටද පිවිසුණි . 1960 දී ලෝරම් ඉප්සම් කොටස් අඩංගු ලෙට්‍රාසෙට් තහඩු නිදහස් කිරීමත් සමඟ ජනප්‍රිය වන්නට පටන් ගෙන මෑතකදී පේජ් මේකර් වැනි මෘදුකාංග සමඟ ද පැමිණීම නිසා ලෝක ප්‍රසිද්ධියට පත්විය.</h5><br>
            <button style="color: #fff;" class="btn btn-lg btn-outline-warning ">
              වැඩි විස්තර</button> <a href="#"></a>
          </div>
  
          <div class="col-md-7">
            <img  class="img-fluid" alt="" src="/images/thumb.jpg">
          </div>
        </div>
      </div>
    </section>
 
    <section class="pt-3 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>
              දහාම් පාසලේ සමුච්චිත සාරාංශය
            </h3>
            <hr>
          </div>
  
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="card  bg-dark" style="width: 22rem;">
              <h1 class="text-light  container-fluid d-flex justify-content-center">456</h1>
              <div class="card-body">
                <h5 class="card-title text-light container-fluid d-flex justify-content-center">වත්මන් සිසුන්</h5>
                <p class="card-text text-light text-center">දැනට ඉගෙනුම ලබන සිසුන්ගේ සමුච්චිත ප්‍රමාණය</p>
                <a href="#" class="btn btn-outline-warning container-fluid d-flex justify-content-center">වැඩි විස්තර</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card bg-dark" style="width: 22rem;">
              <h1 class="text-light  container-fluid d-flex justify-content-center"><%=teachersNum%></h1>
              <div class="card-body">
                <h5 class="card-title text-light container-fluid d-flex justify-content-center">වත්මන් ගුරුවරුන්</h5>
                <p class="card-text text-light text-center">පන්ති මෙහෙයවන ගුරුවරුන්ගේ සමුච්චිත ප්‍රමාණය</p>
                <a href="#" class="btn btn-outline-warning container-fluid d-flex justify-content-center">වැඩි විස්තර</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card bg-dark" style="width: 22rem; height: 14.6rem;">
              <h1 class="text-light  container-fluid d-flex justify-content-center">56</h1>
              <div class="card-body">
                <h5 class="card-title text-light container-fluid d-flex justify-content-center">වත්මන් පන්ති</h5>
                <p class="card-text text-light text-center">දැන් පවත්වනු ලබන සමුච්චිත පන්ති ප්‍රමාණය</p>
                <a href="#" class="btn btn-outline-warning container-fluid d-flex justify-content-center ">වැඩි විස්තර</a>
              </div>
          </div>
        </div>
        
      </div>
      
    </section>


    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Add New Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Class 1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Class 2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Class 3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                  <li class="list-group-item">student name</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
        data-bs-dismiss="modal">Add Student </button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
         
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Student Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Studnet Class</label>
              <input type="text" class="form-control" id="exampleInputPassword1"  name="class">
            </div>
           
            <button type="submit" class="btn btn-primary">Save student </button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
   
    <script src="/bootstrap/js/jquery-3.4.1.slim.min.js" ></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>

